<!doctype html>
<html>
  <head>
    <title>{% if page.title %} {{ page.title }} | {% endif %} Matt Graham</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="4-WH0SmDJ5JRcU4yqZL226bjSE6M6ievcKKDZvj04Ls" />
    <link rel="stylesheet" href="/assets/styles/main.css">
    {% if page.customCSS %}
  	  <link rel="stylesheet" type="text/css" href="/assets/styles/custom/{{ page.customCSS }}" />
    {% endif %}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/fittext.js"></script>
  </head>
<body>
