<!doctype html>
<html>
<head>
  <title>{% if page.title %} {{ page.title }} | {% endif %}Matt Graham</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="google-site-verification" content="4-WH0SmDJ5JRcU4yqZL226bjSE6M6ievcKKDZvj04Ls" />
  <link rel="stylesheet" href="/assets/styles/main.css">
  {% if page.customCSS %}
	<link rel="stylesheet" type="text/css" href="/assets/styles/custom/{{ page.customCSS }}" />
  {% endif %}
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script type="text/javascript" src="//use.typekit.net/wpw2zdl.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/assets/js/fittext.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript">
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0041/0391.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  </script>
</head>
<body>
