<nav class="text-gray-950 p-4 border-t flex flex-col md:flex-row items-center z-50 text-sm">
    {% if page.previous.url %}
      <div class="flex items-center">
        <div class="font-bold mr-1">Previous: </div>
        <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}" class="underline text-gray-950"> {{page.previous.title}}</a>
      </div>
    {% endif %}

    <div class="flex-auto"></div>

    {% if page.next.url %}
      <div class="flex items-center">
        <div class="font-bold mr-1">Next: </div>
        <a href="{{page.next.url}}" title="next Post: {{page.next.title}}" class="underline text-gray-950"> {{page.next.title}}</a>
      </div>
    {% endif %}
</nav>