<nav class="bg-gray-950 text-white p-4 shadow-xl flex items-center">
  <div>
    <a href="/" class="text-xl tracking-widest uppercase font-light">Matt Graham</a>
  </div>
  <div class="flex-auto"></div>
  <ul class="flex items-center gap-4">
    <li class="github"><a href="/articles">Articles</a></li>
    <li class="github"><a href="https://github.com/mattgraham" target="_blank">GitHub</a></li>
    <li class="twitter"><a href="https://twitter.com/mattgraham" target="_blank">Twitter</a></li>
  </ul>
</nav>
