<nav class="text-white p-4 shadow-xl flex items-center fixed top-0 left-0 right-0 z-50 bg-[#0f020b]">
  <div>
    <a href="/" class="text-xl font-light">
      <span class="hidden md:flex">Matt Graham</span>
      <span class="visible md:hidden">MG</span>
    </a>
  </div>
  <div class="flex-auto"></div>
  <ul class="flex items-center gap-4 mr-4">
    <li><a href="/">About</a></li>
    <li><a href="/family">Family</a></li>
    <li><a href="/work">Work</a></li>
    <!-- <li><a href="/service">Service</a></li> -->
    <li><a href="/writing">Writing</a></li>
  </ul>
</nav>