@import "compass/css3";
@import "normalize";
@import "base";
@import "settings";
@import "syntax";
@import "octicons";

body {
  font-family:$font;
  color:$text-color;
  font-size: 14px;
  line-height: 1.5em;
}

header {
  box-shadow:0 1px 1px rgba(#000,.3);
  background:#212121;
  @include background(linear-gradient(#212121,#222));
  border:1px solid #111;
  padding:0 40px 0 0;
  overflow:hidden;
  z-index:1;

  .title {
    color:#fff;
    text-decoration:none;
    font-weight:normal;
    float:left;
    padding:20px 40px;
  }

  nav {
    overflow:hidden;

    ul {
      float:right;
      margin:0;
      padding:0 0 0 1px;
      list-style:none;
      border-left:1px solid #333;
      border-right:1px solid #333;
    }

    li {
      float:left;
      border-left:1px solid #111;
      border-right:1px solid #111;
      margin-left:-1px;
      transition: background .2s ease-in;

      &.github:hover {
        background: #e5821f;
      }

      &.twitter:hover {
        background: #4099FF;
      }
    }

    a {
      display:block;
      padding:20px;
      text-decoration:none;
      color:#999;
      border-left:1px solid #333;
      border-right:1px solid #333;
      transition: color .2s ease-in;

      .octicon {
        margin-right: 5px;
      }

      &:hover {
        color:#fff;
      }
    }
  }
}

img {
  max-width: 100%;
}

article {
  display: block;
  max-width: 840px;
  padding: 0 30px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.article-header {
  background: #efefef;
  height: 0;
  min-height: 80px;
  max-height: 800px;
  margin-bottom:55px;
}

h1 {
  font-size: 46px;
  font-weight: 300;
  line-height: 46px;
  margin-top:0;
}

.page-navigation {
  @include box-shadow(inset 0 1px 0 rgba(#000, .05));
  display: inline-block;
  width: 100%;
  padding: 30px;

  .right {
    float: right;
    max-width: 50%;
    text-align: right;
  }
  .left {
    float: left;
    max-width: 50%;
    text-align: left;
  }
}