---
---

@tailwind base;
@tailwind utilities;
@tailwind components;

@import "assets/styles/settings";

p {
  @apply text-xl mb-6 leading-8;

}

nav a {
    @apply text-white/80 hover:text-blue-600 transition-all duration-300 ease-in-out no-underline;
}

a {
  @apply text-blue-500 hover:text-blue-600 transition-all duration-300 ease-in-out underline;
}

.need {
  @apply transition-all duration-300 ease-in-out;
  @apply text-black/40 hover:text-black;

  &:hover img {
    @apply opacity-100;
  }

  > img {
    @apply transition-all duration-300 ease-in-out;
    @apply opacity-40;

  }
}

.need:where(.target-field) {
  @apply border-red-400;

  &:before {
    content: "2024 Target";
    position: absolute;
    top: 0;
    right: 0;
    @apply text-red-600 text-xs bg-red-600 text-white px-2 py-1 rounded-bl;
  }
}

.github-android {
  background: url(/assets/images/cover-gauges.jpg) no-repeat right center #006444;
  background-size: cover;
}

.icon-x {
  @apply bg-white/30 hover:bg-blue-400 transition-all duration-300 ease-in-out;
  -webkit-mask: url('/assets/images/icon-x.svg') no-repeat center;
  mask: url('/assets/images/icon-x.svg') no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.icon-github {
  @apply bg-white/30 hover:bg-yellow-400 transition-all duration-300 ease-in-out;
  -webkit-mask: url('/assets/images/icon-github.svg') no-repeat center;
  mask: url('/assets/images/icon-github.svg') no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.icon-dribbble {
  @apply bg-white/30 hover:bg-pink-400 transition-all duration-300 ease-in-out;
  -webkit-mask: url('/assets/images/icon-dribbble.svg') no-repeat center;
  mask: url('/assets/images/icon-dribbble.svg') no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

#rescuediver {
  background: url(/assets/images/cover-rescuediver.jpg) no-repeat right center;
  background-size: cover;

}