---
---

@tailwind base;
@tailwind utilities;
@tailwind components;

p {
  @apply text-xl mb-6 leading-8;

}

nav a {
    @apply text-white/80 hover:text-blue-600 transition-all duration-300 ease-in-out no-underline;
}

a {
  @apply text-blue-500 hover:text-blue-600 transition-all duration-300 ease-in-out underline;
}

.need {
  @apply transition-all duration-300 ease-in-out;
  @apply text-black/40 hover:text-black;

  &:hover img {
    @apply opacity-100;
  }

  > img {
    @apply transition-all duration-300 ease-in-out;
    @apply opacity-40;

  }
}

.need:where(.target-field) {
  @apply border-red-400;

  &:before {
    content: "2024 Target";
    position: absolute;
    top: 0;
    right: 0;
    @apply text-red-600 text-xs bg-red-600 text-white px-2 py-1 rounded-bl;
  }
}

.github-android {
  background: url(/assets/images/cover-gauges.jpg) no-repeat right center #006444;
  background-size: cover;
}

.icon-x {
  @apply bg-white/30 hover:bg-blue-400 transition-all duration-300 ease-in-out;
  -webkit-mask: url('/assets/images/icon-x.svg') no-repeat center;
  mask: url('/assets/images/icon-x.svg') no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.icon-github {
  @apply bg-white/30 hover:bg-yellow-400 transition-all duration-300 ease-in-out;
  -webkit-mask: url('/assets/images/icon-github.svg') no-repeat center;
  mask: url('/assets/images/icon-github.svg') no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.icon-dribbble {
  @apply bg-white/30 hover:bg-pink-400 transition-all duration-300 ease-in-out;
  -webkit-mask: url('/assets/images/icon-dribbble.svg') no-repeat center;
  mask: url('/assets/images/icon-dribbble.svg') no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

#rescuediver {
  background: url(/assets/images/cover-rescuediver.jpg) no-repeat right center;
  background-size: cover;

}

.team + .team::before {
  content: 'at ';
  @apply px-3;
}

.game-card {
  @apply hover:shadow-lg hover:z-10 transition-all duration-500 ease-in-out;
  
  &.home {
    @apply bg-blue-950 hover:bg-blue-950/90 text-white hover:text-white/90;
  } 

  &.away {
    @apply bg-white text-blue-950 hover:bg-slate-50 hover:text-blue-900;
  } 

  &:nth-child(2):before {
    content: '$';
    @apply inline-block text-white font-bold border-4 border-white text-xs rounded-full w-10 h-10 flex items-center justify-center p-1 mx-auto -mt-8 mb-1;
    @apply bg-green-600;
  }
  &:nth-child(1):before,&:nth-child(4):before, &:nth-child(8):before,&:nth-child(9):before {
    content: 'MG';
    @apply inline-block text-blue-950 font-bold border-4 border-white bg-blue-950/90 text-xs rounded-full w-10 h-10 flex items-center justify-center p-1 mx-auto -mt-8 mb-1;
    @apply bg-yellow-400;
  }
  &:nth-child(11):before {
    content: 'ST';
    @apply inline-block text-blue-950 font-bold border-4 border-white bg-blue-950/90 text-xs rounded-full w-10 h-10 flex items-center justify-center p-1 mx-auto -mt-8 mb-1;
    @apply bg-yellow-400;
  }
}