/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

body {
  font-family: "proxima-nova",sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: whitesmoke;
  background: #006444 url("/images/gauges/background.png") no-repeat fixed center 60px;
}

p {
  margin-bottom: 10px;
  color: rgba(245, 245, 245, 0.8);
}

a {
  text-decoration: none;
  color: #00c082;
}

header {
  z-index: 9998;
  padding: 10px 0;
  background: #f7f7f7;
  -webkit-box-shadow: inset 0 1px 0px white, inset 0 -1px 0px white, 0 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 0px white, inset 0 -1px 0px white, 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0px white, inset 0 -1px 0px white, 0 1px 4px rgba(0, 0, 0, 0.4);
  display: inline-block;
  width: 100%;
}
header .logo {
  display: block;
}
header .gravatar {
  width: 40px;
  float: left;
  margin-right: 20px;
  border-radius: 2px;
}
header .name {
  float: left;
  color: #006444;
  font-size: 1.6em;
  line-height: 40px;
  vertical-align: middle;
}
header nav {
  float: right;
}
header nav li {
  padding: 10px 0;
  display: inline-block;
  color: #006444;
}
header nav li + li {
  margin-left: 10px;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

#featured {
  float: right;
}
#featured img {
  max-width: 100%;
}

#content {
  padding-bottom: 30px;
  display: inline-block;
}
#content #meta {
  width: 180px;
  float: left;
  margin-bottom: 10px;
}
#content #meta .date {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
}
#content #article {
  max-width: 580px;
  float: right;
}
#content #article h1 {
  font-size: 48px;
  line-height: 46px;
  margin-bottom: 20px;
  font-weight: 100;
  letter-spacing: -2px;
}

#controls {
  border-top: 2px solid rgba(245, 245, 245, 0.4);
  padding: 10px;
  margin-bottom: 40px;
  clear: both;
  display: block;
  font-weight: 100;
}
#controls #previous {
  float: left;
}
#controls #next {
  float: right;
}

@media all and (max-width: 550px) {
  header {
    text-align: center;
  }
  header .gravatar {
    width: 40px;
    float: none;
    margin-right: 20px;
    border-radius: 2px;
    display: none;
  }
  header .name {
    float: none;
    font-size: 1.6em;
    height: 40px;
    display: inline-block;
  }
  header nav {
    display: none;
  }
}
