body {
  background: #597f0b url("/images/harmony/background.png") no-repeat fixed left 0px;
}

p {
  margin-bottom: 10px;
  color: rgba(245, 245, 245, 0.8);
}

a {
  text-decoration: none;
  color: #80b710;
}

#featured {
  margin-top: 60px;
  float: left;
  clear: both;
}
#featured img {
  margin-top: -50px;
  margin-bottom: 30px;
  max-width: 100%;
  z-index: 9999;
  position: relative;
}

header .name {
  color: #597f0b;
}
header nav {
  float: right;
}
header nav li {
  padding: 10px 0;
  display: inline-block;
  color: #597f0b;
}
header nav li + li {
  margin-left: 10px;
}
