---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

h1 {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}

::-webkit-scrollbar {
  height:16px;
  overflow:visible;
  width:16px
}

::-webkit-scrollbar-button {
  height:0;
  width:0
}

::-webkit-scrollbar-track {
  background-clip:padding-box;
  border:solid transparent;
  border-width:0 0 0 4px
}

::-webkit-scrollbar-track:horizontal {
  border-width:4px 0 0
}

::-webkit-scrollbar-track:hover {
  background-color:rgba(0,0,0,.05);
  box-shadow:inset 1px 0 0 rgba(0,0,0,.1)
}

::-webkit-scrollbar-track:horizontal:hover {
  box-shadow:inset 0 1px 0 rgba(0,0,0,.1)
}

::-webkit-scrollbar-track:active {
  background-color:rgba(0,0,0,.05);
  box-shadow:inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07)
}

::-webkit-scrollbar-track:horizontal:active {
  box-shadow:inset 0 1px 0 rgba(0,0,0,.14),inset 0 -1px 0 rgba(0,0,0,.07)
}

.jfk-scrollbar-dark::-webkit-scrollbar-track:hover {
  background-color:rgba(255,255,255,.1);
  box-shadow:inset 1px 0 0 rgba(255,255,255,.2)
}

.jfk-scrollbar-dark::-webkit-scrollbar-track:horizontal:hover {
  box-shadow:inset 0 1px 0 rgba(255,255,255,.2)
}

.jfk-scrollbar-dark::-webkit-scrollbar-track:active {
  background-color:rgba(255,255,255,.1);
  box-shadow:inset 1px 0 0 rgba(255,255,255,.25),inset -1px 0 0 rgba(255,255,255,.15)
}

.jfk-scrollbar-dark::-webkit-scrollbar-track:horizontal:active {
  box-shadow:inset 0 1px 0 rgba(255,255,255,.25),inset 0 -1px 0 rgba(255,255,255,.15)
}

::-webkit-scrollbar-thumb {
  background-color:rgba(0,0,0,.2);
  background-clip:padding-box;
  border:solid transparent;
  border-width:1px 1px 1px 6px;
  min-height:28px;
  padding:100px 0 0;
  box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07)
}

::-webkit-scrollbar-thumb:horizontal {
  border-width:6px 1px 1px;
  padding:0 0 0 100px;
  box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset -1px 0 0 rgba(0,0,0,.07)
}

::-webkit-scrollbar-thumb:hover {
  background-color:rgba(0,0,0,.4);
  box-shadow:inset 1px 1px 1px rgba(0,0,0,.25)
}

::-webkit-scrollbar-thumb:active {
  background-color:rgba(0,0,0,0.5);
  box-shadow:inset 1px 1px 3px rgba(0,0,0,0.35)
}

.jfk-scrollbar-dark::-webkit-scrollbar-thumb {
  background-color:rgba(255,255,255,.3);
  box-shadow:inset 1px 1px 0 rgba(255,255,255,.15),inset 0 -1px 0 rgba(255,255,255,.1)
}

.jfk-scrollbar-dark::-webkit-scrollbar-thumb:horizontal {
  box-shadow:inset 1px 1px 0 rgba(255,255,255,.15),inset -1px 0 0 rgba(255,255,255,.1)
}

.jfk-scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background-color:rgba(255,255,255,.6);
  box-shadow:inset 1px 1px 1px rgba(255,255,255,.37)
}

.jfk-scrollbar-dark::-webkit-scrollbar-thumb:active {
  background-color:rgba(255,255,255,.75);
  box-shadow:inset 1px 1px 3px rgba(255,255,255,.5)
}

.jfk-scrollbar-borderless::-webkit-scrollbar-track {
  border-width:0 1px 0 6px
}

.jfk-scrollbar-borderless::-webkit-scrollbar-track:horizontal {
  border-width:6px 0 1px
}

.jfk-scrollbar-borderless::-webkit-scrollbar-track:hover {
  background-color:rgba(0,0,0,.035);
  box-shadow:inset 1px 1px 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07)
}

.jfk-scrollbar-borderless.jfk-scrollbar-dark::-webkit-scrollbar-track:hover {
  background-color:rgba(255,255,255,.07);
  box-shadow:inset 1px 1px 0 rgba(255,255,255,.25),inset -1px -1px 0 rgba(255,255,255,.15)
}

.jfk-scrollbar-borderless::-webkit-scrollbar-thumb {
  border-width:0 1px 0 6px
}

.jfk-scrollbar-borderless::-webkit-scrollbar-thumb:horizontal {
  border-width:6px 0 1px
}

::-webkit-scrollbar-corner {
  background:transparent
}

body td,.tblGenFixed,.tblGeneric {
  font-size: 13px;
  font-family: arial,sans,sans-serif;
}

.dn {
  display:none
}

.tblGenFixed td {
  padding:0 3px;
  overflow:hidden;
  white-space:normal;
  letter-spacing:0;
  word-spacing:0;

  z-index:1;
  border:1px #ccc solid;
  border-top:0;
  border-left:0;
  vertical-align:bottom
}

.tblGenFixed td.hd {
  padding:0;
  border-right:0;
  background-color:#c8c8c8
}

.tblGenFixed tr.rShim td,.tblGenFixed td.rShim {
  padding:0;
  border-bottom:0
}

.divFrozRowHead .tblGenFixed td.hd,.divRowHead .tblGenFixed td.hd {
  background-color:#e8eef7;
  width:35px;
  text-align:center;
  vertical-align:middle;
  font-size:8pt;
  color:#333;
  border-style:solid;
  border-color:#c8c8c8;
  border-width:0 1px 1px 0
}

#tblMain td.hd p,.colHeadTable td.hd p {
  margin:0;
  width:0;
  overflow:hidden;
  font-size:0
}

td.rShim {
  width:35px;
  height:0;
  border-right:1px #c8c8c8 solid
}

#tblMain tr:nth-child(2n) {
  background-color: rgba(#000,.02) !important;
}
.divColHead .tblGenFixed tr.hd td,.tblGenFixed .sortBar {
  background-color:#e8eef7;
  text-align:center;
  vertical-align:middle;
  font-size:8pt;
  color:#333;
  border-style:solid;
  border-color:#c8c8c8;
  border-width:0 1px 1px 0
}

.divColHead .tblGenFixed tr.hd td {
  height:20px
}

.divColHead .tblGenFixed tr.hd td.on,.divRowHead .tblGenFixed tr.on td.hd {
  background-color:#c8c8c8
}

.divColHead .tblGenFixed tr.hd td {
  border-bottom:1px solid #9fc2fd
}

.divColHead .tblGenFixed tr.hd td.first {
  border-right:none
}

.tblGenFixed .sortBar {
  background-repeat:repeat-x;
  height:12px;
  padding-right:5px;
  padding-left:5px;
  text-align:right;
  z-index:1;
  overflow:hidden;
  white-space:nowrap
}

.FF .sortBar {
  height:13px
}

.tblGenFixed td.headerEnd {
  background-color:#e8eef7;
  border:none
}

.IE .divRowHead .tblGenFixed tr.equalize td {
  overflow:visible!important;
  white-space:normal;
  text-indent:0;
  padding:0 3px
}

.FF .divColHead .tblGenFixed td.hd {
  padding-bottom:1px
}

.FF .divColHead .tblGenFixed tr.hd td.hd,.FF .divRowHead .tblGenFixed td.hd {
  padding-bottom:0
}

.tblGenFixed {
  table-layout:fixed;
  border-collapse:collapse;
  border-style:none;
  border-spacing:0;
  width:0;
  border-bottom:1px #ccc solid
}

.disclaimer {
  padding-left:12px;
  font-size:11px;
  background-color:#efefef;
  color:#676767;
  border-left:0 none;
  border-bottom:1px solid silver;
  border-right:0 none;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}

.disclaimerTop {
  padding-top:6px;
  padding-bottom:6px;
  padding-left:6px;
  border-top:1px solid silver
}

.disclaimer a {
  color:#77c;
  padding-left:3px
}

td.num {
  text-align:right
}

.waffle-image-div {
  position:relative
}

.waffle-image-cell {
  display:block;
  position:absolute;
  left:-3px
}

.tblGenFixed {
  margin: 0 auto;
}

.tblGenFixed td {
  padding:0 3px;
  overflow:hidden;
  white-space:normal;
  letter-spacing:0;
  word-spacing:0;

  z-index:1;
  border-top:0 none;
  border-left:0 none;
  border-bottom:1px solid #CCC;
  border-right:1px solid #CCC
}

.dn {
  display:none
}

.tblGenFixed td.s0 {
  background-color:#d9d9d9;
  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:700;
  font-style:normal;
  color:#434343;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  direction:auto-ltr;
  white-space:normal;
  overflow:hidden;
  border-top:1px solid #CCC;
  border-left:1px solid #CCC
}

.tblGenFixed td.s2 {
  background-color:#d9d9d9;
  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:700;
  font-style:normal;
  color:#434343;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  direction:auto-ltr;
  white-space:normal;
  overflow:hidden;
  border-top:1px solid #CCC;
}

.tblGenFixed td.s1 {
  background-color:#d9d9d9;
  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:700;
  font-style:normal;
  color:#434343;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  direction:auto-ltr;
  white-space:normal;
  overflow:hidden;
  border-top:1px solid #CCC;
}

.tblGenFixed td.s16 {
  background-color:#efefef;
  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:700;
  font-style:normal;
  color:#000;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  direction:Context;
  white-space:normal;
  overflow:hidden;
  border-left:1px solid #CCC
}

.tblGenFixed td.s17 {
  background-color:#efefef;
  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:700;
  font-style:normal;
  color:#000;
  text-decoration:none;
  text-align:left;
  vertical-align:middle;
  direction:Context;
  white-space:normal;
  overflow:hidden;
}

.tblGenFixed td.s18 {
  background-color:#efefef;
  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:700;
  font-style:normal;
  color:#000;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  direction:Context;
  white-space:normal;
  overflow:hidden;
}

.tblGenFixed td.s19 {
  background-color:#efefef;
  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:700;
  font-style:normal;
  color:#000;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  direction:Context;
  white-space:normal;
  overflow:hidden;
}

.tblGenFixed td.s12 {

  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:400;
  font-style:normal;
  color:#fff;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  direction:Context;
  white-space:normal;
  overflow:hidden;
}

.tblGenFixed td.s9 {

  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:400;
  font-style:normal;
  color:#000;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  direction:Context;
  white-space:normal;
  overflow:hidden;
}

.tblGenFixed td.s13 {

  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:400;
  font-style:normal;
  color:#000;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  direction:Context;
  white-space:normal;
  overflow:hidden;
  border-left:1px solid #CCC
}

.tblGenFixed td.s7 {

  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:400;
  font-style:normal;
  color:#000;
  text-decoration:none;
  text-align:left;
  vertical-align:middle;
  direction:auto-ltr;
  white-space:normal;
  overflow:hidden;
}

.tblGenFixed td.s14 {

  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:400;
  font-style:normal;
  color:#000;
  text-decoration:none;
  text-align:left;
  vertical-align:middle;
  direction:auto-ltr;
  white-space:normal;
  overflow:hidden;
}

.tblGenFixed td.s15 {

  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:400;
  font-style:normal;
  color:#000;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  direction:Context;
  white-space:normal;
  overflow:hidden;
}

.tblGenFixed td.s8 {

  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:400;
  font-style:normal;
  color:#000;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  direction:Context;
  white-space:normal;
  overflow:hidden;
}

.tblGenFixed td.s5 {
  background-color:#d9d9d9;
  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:700;
  font-style:normal;
  color:#434343;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  direction:Context;
  white-space:normal;
  overflow:hidden;
  border-top:1px solid #CCC;
}

.tblGenFixed td.s6 {

  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:400;
  font-style:normal;
  color:#000;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  direction:Context;
  white-space:normal;
  overflow:hidden;
  border-left:1px solid #CCC
}

.tblGenFixed td.s3 {
  background-color:#d9d9d9;
  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:700;
  font-style:normal;
  color:#434343;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  direction:auto-ltr;
  white-space:normal;
  overflow:hidden;
  border-top:1px solid #CCC;
}

.tblGenFixed td.s10 {

  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:400;
  font-style:normal;
  color:#000;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  direction:Context;
  white-space:normal;
  overflow:hidden;
}

.tblGenFixed td.s20 {
  background-color:#efefef;
  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:700;
  font-style:normal;
  color:#000;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  direction:Context;
  white-space:normal;
  overflow:hidden;
}

.tblGenFixed td.s11 {

  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:400;
  font-style:normal;
  color:#000;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  direction:Context;
  white-space:normal;
  overflow:hidden;
}

.tblGenFixed td.s4 {
  background-color:#d9d9d9;
  font-family:arial,sans,sans-serif;
  font-size:110%;
  font-weight:700;
  font-style:normal;
  color:#434343;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  direction:auto-ltr;
  white-space:normal;
  overflow:hidden;
  border-top:1px solid #CCC;
}
