@import "settings";
@import "compass/css3";

$primary: #013550;

a {
	color: $primary;
	text-decoration:none;
	transition: color .2s ease-in;

	&:hover {
		color: lighten($primary, 1%);
	}
}

.article-header {
	height: 0;
	min-height: 380px;
	max-height: 800px;
	margin-bottom:35px;
	background: url("/assets/images/cover-mlb.jpg") no-repeat center center, $primary;
	background-size: cover;
	text-align: center;

	.details {
		text-align: left;
		font-size: 12px;
		position: absolute;
		border-radius: 2px;
		bottom: 20px;
		left: 0px;
		padding: 20px 20px 20px 20px;
		background: rgba(#000, .6);
		color: #fff;
		text-shadow: 0 1px 2px rgba(#000, .9);
	}

	.asset {
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 800px;

		.art {
			bottom: -180px;
			float: right;
			max-width: 360px;
		}
	}

	.title {
		display: block;
		width: 100%;
		max-width: 840px;
		margin: 0 auto;
		margin-bottom: 20px;

		h1 {
			text-transform: uppercase;
			color: #fff;
			font-size: 100px;
			font-weight: bold;
			line-height: 100px;
			margin: 0;
			padding: 0;
			@include text-shadow(0 1px 0 rgba(#fff, .30), 0 2px 0 rgba(#fff, .30), 0 3px 0 rgba(#fff, .30), 0 4px 2px rgba(#000, .1));
		}

		h2 {
			text-transform: uppercase;
			color: #fff;
			font-size: 120px;
			font-weight: bold;
			line-height: 100px;
			margin: 0;
			padding: 0;
			@include text-shadow(0 1px 0 rgba(#fff, .30), 0 2px 0 rgba(#fff, .30), 0 3px 0 rgba(#fff, .30), 0 4px 2px rgba(#000, .1));
		}
	}
}

ul {
	font-size: 14px;
	line-height: 20px;
	padding: 0 0 0 20px;

	li {
		padding-left: 0px;
	}

	.done {
		text-decoration: line-through;
	}
}

#baseball {
	display: inline-block;
	width: 100%;
	padding-left: 0;
  margin-left:0;
  margin-bottom: 20px;

	.division {
		width: calc(49% - 1%);
		float: left;
		display: inline-block;
		margin-bottom: 20px;
	}

	.division:nth-child(2n) {
		width: calc(49% - 1%);
		float: right;
	}

	.title {
		display: inline-block;
		background: #333;
		color: #fff;
		width: 100%;
		padding: 6px;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 4px;
	}

	li {
		list-style: none;
		display: inline-block;
		width: 100%;
		padding: 10px;
		border-bottom: 1px solid rgba(#000, .1);

		&:before {
			content:'\e80f';
			font-family: 'fontello';
			display: block;
			position: absolute;
			top: 30px;
			right: 10px;
			width: 20px;
			height: 20px;
			line-height: 20px;
			color: green;
			border: 1px solid green;
			border-radius: 1px;
			background: rgba(#fff, .6);
			text-align: center;
		}

		&:nth-child(2n+1) {
			background: rgba(#000, .01);
		}

		h3 {
			font-size: 14px;
			margin: 15px 0 0 0;
		}

		p {
			font-size: 11px;
			margin: 0;
		}

		.image-box {
			width: 60px;
			height: 60px;
			float: left;
			margin-right: 20px;
			text-align: center;
			position: relative;

			img {
				max-width: 100%;
				max-height: 60px;
				display: inline-block;
				position: relative;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
	}

	.off {
		 > * {
			opacity: .2;
			transition: opacity .2s ease-in;
		}

		&:before {
			display: none;
		}
	}

	.off:hover {
		> * {
			opacity: .9;
		}
	}

}

.large {
	width: 100%;
	border-radius: 3px;
	margin: 20px 0;
}

.count {
	font-size: 14px;
	line-height: 30px;
	float: right;
	text-transform: uppercase;
}

@media screen and (max-width: 840px) {
	.article-header {
		height: 0;
		min-height: 280px;
		max-height: 800px;

		.details {
			text-align: center;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	.count {
		font-size: 14px;
		line-height: 30px;
		float: left;
		text-transform: uppercase;
	}

	#baseball {
		.division, .division:nth-child(2n) {
			width: 100%;
			margin: 0;
			margin-bottom: 20px;
			float: none;
			clear: none;
		}
	}
}
