@import "settings";
@import "compass/css3";
@import "settings";
@import "mixins";

$primary: #99ccff;

a {
	color: $primary;
	text-decoration:none;
	transition: color .2s ease-in;

	&:hover {
		color: lighten($primary, 15%);
	}
}

body {
}

.clear {
	clear: both;
}

.content {
	padding: 20px;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

.welcome {
	background: url(http://c.gr4m.com/image/1b1y3q1f0F42/image) no-repeat right center #0f020b;
	background-size: cover;
	overflow: hidden;
	@include show-size;
	text-align: center;
	color: #fff;

	h1 {
		@include font-size(5.2);
		@include line-height(6.4);
		text-transform: uppercase;
		letter-spacing: 0.05em;
		margin: 0;

		span {
			margin-left: 5px;
		}
	}

	h3 {
		@include font-size(1.8);
		margin: 0;
		margin-bottom: 40px;
	}

	.content {
		@include vertical-align;

		ul {
			margin: 0;
			padding: 0;

			li {
				font-size: 48px;
				margin: 0 20px;
				padding: 0;
				display: inline-block;

				a {
					color: #fff;
					opacity: .2;
					transition: opacity .1s ease-in;

					&:hover {
						opacity: 1;
					}
				}

				.mega-octicon {
					@include font-size(4.6);
				}
			}
		}
	}
}

.about {
	overflow: hidden;
	background: #F3F5F8;
	text-align: center;
	@include third-size;

	.content {
		@include vertical-align;

		p {
			max-width: 700px;
			margin: 0 auto;
			color: #8C9398;
			text-align: left;
		}
	}
}

#skills {
	overflow: hidden;
	text-align: center;
	padding: 60px 0;
	font-size: 0;

	article {
		height: auto;
		width: 100%;
		max-width: 33.333333333%;
		display: inline-block;
		vertical-align: top;

		.icon {
			display: inline-block;
			height: 164px;
			width: 164px;
			border-radius: 50%;
			background: #F3F5F8;
		}

		h3 {
			@include font-size(1.8);
			display: block;
		}
	}

	p {
		color: #8C9398;
		text-align: left;
	}
}

@import "products";

#articles {
	overflow: hidden;
	background: #F3F5F8;
	text-align: center;
	padding: 40px 20px;

	.content {
		overflow: hidden;
		width: 100%;
		max-width: 1440px;
		font-size: 0;

		li {
			display: inline-block;
			width: calc(98%/3);
			font-size: 14px;
			text-align: center;
			margin-right: 1%;

			&:before {
				display: inline-block;
				content: '';
				width: 100%;
				height: 300px;
				background: blue;
				margin-bottom: 30px;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
