@import "settings";
@import "compass/css3";
@import "settings";
@import "mixins";

$primary: #99ccff;

body {
}

.clear {
	clear: both;
}

a {
	text-decoration: none;
}

.content {
	padding: 20px;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

.welcome {
	background: url(http://c.gr4m.com/image/1b1y3q1f0F42/image) no-repeat right center #0f020b;
	background-size: cover;
	overflow: hidden;
	@include show-size;
	text-align: center;
	color: #fff;

	a {
		color: $primary;
		text-decoration:none;
		transition: color .2s ease-in;

		&:hover {
			color: lighten($primary, 15%);
		}
	}

	h1 {
		@include font-size(5.2);
		@include line-height(6.4);
		text-transform: uppercase;
		letter-spacing: 0.05em;
		margin: 0;

		span {
			margin-left: 5px;
		}
	}

	h3 {
		@include font-size(1.8);
		margin: 0;
		margin-bottom: 40px;
	}

	.content {
		@include vertical-align;

		ul {
			margin: 0;
			padding: 0;

			li {
				font-size: 48px;
				margin: 0 20px;
				padding: 0;
				display: inline-block;

				a {
					color: #fff;
					opacity: .2;
					transition: opacity .1s ease-in;

					&:hover {
						opacity: 1;
					}
				}

				.mega-octicon {
					@include font-size(4.6);
				}
			}
		}
	}
}

.about {
	overflow: hidden;
	background: #F3F5F8;
	text-align: center;
	@include third-size;

	.content {
		@include vertical-align;

		p {
			max-width: 700px;
			margin: 0 auto;
			color: #8C9398;
			text-align: left;
		}
	}
}

#skills {
	overflow: hidden;
	text-align: center;
	padding: 60px 0;
	font-size: 0;

	.content {
		max-width: 1440px;
	}

	article {
		height: auto;
		width: 100%;
		max-width: 33.333333333%;
		display: inline-block;
		vertical-align: top;

		.icon {
			color: rgba(#000, .1);
			display: inline-block;
			border-radius: 50%;
			background: #F3F5F8;
			display: inline-block;
			width: 140px;
			height: 140px;
			font-size: 70px;

			&.design:before {
				line-height: 140px;
				content: '\e823';
				font-family: 'fontello';
			}

			&.direction:before {
				line-height: 140px;
				content: '\e825';
				font-family: 'fontello';
			}

			&.curious:before {
				line-height: 150px;
				content: '\e820';
				font-family: 'fontello';
			}
		}

		h3 {
			@include font-size(1.8);
			display: block;
		}
	}

	p {
		color: #8C9398;
		text-align: left;
	}
}

@media #{$mobile} {
	#skills {
		article {
			width: 100%;
			max-width: 100%;
		}
	}
}

@import "products";

#articles {
	overflow: hidden;
	background: #F3F5F8;
	text-align: center;
	padding: 40px 20px;

	.content {
		overflow: hidden;
		width: 100%;
		max-width: 1440px;
		font-size: 0;
		text-align: center;

		a .article-title {
			color: #333;
			@include font-size(1.7);
			font-weight: $weight-bold;
			transition: color .1s ease-in;

			&:hover {
				color: rgba(#333, .6);
			}
		}

		li {
			vertical-align: top;
			display: inline-block;
			width: calc(98%/3);
			@include font-size (1.4);
			text-align: center;
			margin-right: 1%;
			margin-bottom: 20px;

			a {
				@include line-height(4.0);
			}

			img {
				width: 100%;
				margin: 0 auto;
				border-radius: 2px;
				margin-bottom: 0px;
				display: block;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.view-all {
		@include font-size(1.6);
		display: inline-block;
		width: 100%;
		padding: 20px 40px;
		border-top: 1px solid rgba(#000, .05);
		border-bottom: 1px solid rgba(#000, .05);
		opacity: 1;
	}

	@media #{$mobile} {
		.content li {
			width: 100%;
			margin-right: 0;

			&:last-child {
				margin-right: auto;
			}
		}
	}

/* 	@media #{\$mobile-small} {
	max-width: 100%;

	.content li {
		margin-right: 0;
		width: 100%;
	}
}
 */}
