@import "settings";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(http://fonts.googleapis.com/css?family=Oswald);

$primary: #006444;

a {
  color: $primary;
  text-decoration:none;
  transition: color .2s ease-in;

  &:hover {
    color: lighten($primary, 15%);
  }
}

.script {
  display: inline-block;
  font-size: 1.5em;
  padding: 0 30px 0 20px;
  text-transform: none;
  font-family: 'Kaushan Script', cursive;
}

.article-header {
}

.large {
  width: 100%;
  border-radius: 3px;
  margin: 20px 0;
}

article {
  max-width: 1060px;

  h1 {
    width: 100%;
    display: inline-block;
    font-family: 'Oswald';
    text-transform: uppercase;
    text-align: center;
    font-size: 70px;
    margin-bottom: 40px;
    letter-spacing: -0.04em;
  }

  h3 {
    font-size: 32px;
    font-weight: 100;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 0;
    color: #999;
    letter-spacing: -0.04em;
  }

  .meta{
    border-top: 1px solid #333;
    text-align: center;
    margin: 30px 0;
  }

  .meta h2{
    display: inline-block;
    margin: 0;
    padding: 0 20px;
    background: white;
    position: relative;
    top: -12px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .columns {
    -moz-column-count: 3; /* Firefox */
    -webkit-column-count: 3; /* Safari and Chrome */
    column-count: 3;
  }

  p {
    max-width: 100%;
    font-size: 22px;
    line-height: 1.3em;
    color: #111;
    font-family: 'Times New Roman', 'Times', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
    margin: 0 0 20px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  p .first {
    float: left;
    font-size: 76px;
    padding: 25px 10px 6px 0;
  }
}

.next {
  width: 100%;
  padding: 50px 30px;
  border-radius: 3px;
  margin-bottom: 20px;


  &.hubot {
    color: #fff;
    width: 100%;
    text-align: center;
    background: #0092c8;
    z-index: -2;
    margin-top: 80px;

    h4 {
      display: inline-block;
      width: 100%;
      font-size: 32px;
      line-height: 36px;
      margin: 0;
      padding: 0;
    }

    .asset {
      position: relative;
      display: inline-block;
      margin-top: -110px;
      z-index: 10;

      .art {
        display: inline-block;
        width: 140px;
        height: 140px;
        background-image: url('/assets/images/hubot.png');
        background-size: auto 170px;
      }
    }
  }

  &.atom {
    color: #fff;
    width: 100%;
    text-align: center;
    background: #006444;
    z-index: -2;
    margin-bottom: 80px;

    &:after {
      background: url("/assets/images/cover-atom.gif") no-repeat center center, #006444;
      background-size: cover;
      display: inline-block;
      content:'';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      opacity: .1;
    }

    h4 {
      display: inline-block;
      width: 100%;
      font-size: 32px;
      line-height: 36px;
      margin: 0;
      padding: 0;
    }

    .asset {
      position: relative;
      display: inline-block;
      margin-top: 40px;
      margin-bottom: -140px;
      z-index: 10;

      .art {
        display: inline-block;
        width: 235px;
        height: 182px;
        margin-top: -20px;
        float: right;
        background-repeat: no-repeat;
        background-image: url('/assets/images/atom-monitor.png');
        background-size: 235px 182px;

        .screen {
          position: relative;
          z-index:1;
          top: 17.5px;
          left: 48.5px;
          display: block;
          width: 134px;
          height: 83.5px;
          background-image: url('/assets/images/atom-screen-demo.gif');
        }
      }
    }
  }
}

@media screen and (max-width: 860px) {
  article > .columns {
    -moz-column-count: 1; /* Firefox */
    -webkit-column-count: 1; /* Safari and Chrome */
    column-count: 1;
  }
}

@media screen and (max-width: 420px) {

}
