@import "settings";
@import "compass/css3";

$primary: #349cc1;

a {
	color: $primary;
	text-decoration:none;
	transition: color .2s ease-in;

	&:hover {
		color: lighten($primary, 15%);
	}
}

.article-header {
	height: 0;
	min-height: 480px;
	max-height: 800px;
	margin-bottom: 75px;
	background: url("/assets/images/frontend-cover.jpg") no-repeat center center;
	background-size: cover;
	text-align: center;

	iframe {
		margin-top: 40px;
		@include box-shadow(0 -2px 0 0px rgba(#000, .1), 0 1px 2px rgba(#000, .3), 0 1px 0 rgba(#000, .5), 0 20px 100px rgba(#000, .8));
		background: #333;
	}
}

article {
	max-width: 1060px;
	padding-top: 10px;

	h1 {
		font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
		font-weight: bold;
		text-align: center;
		font-size: 125px;
		margin-bottom: 0;
	}

	h3 {
		font-size: 32px;
		font-weight: 100;
		text-align: center;
		margin-top: 0;
		margin-bottom: 50px;
		padding-top: 0;
		color: #999;
		letter-spacing: -0.04em;
	}

	p {
		color: #666;
		font-size: 24px;
		line-height: 36px;
		max-width: 100%;
		font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
	}
}

.large {
	width: 100%;
	border-radius: 3px;
	margin: 20px 0;
}

@media screen and (max-width: 600px) {

 .article-header {
 		min-height: 240px;

		.video {
			width: 90%;
		}
	}
}

@media screen and (max-width: 420px) {

.article-header {
		min-height: 140px;
	}
}
@import "settings";
@import "compass/css3";

$primary: #349cc1;

a {
	color: $primary;
	text-decoration:none;
	transition: color .2s ease-in;

	&:hover {
		color: lighten($primary, 15%);
	}
}

.article-header {
	height: 0;
	min-height: 480px;
	max-height: 800px;
	margin-bottom: 75px;
	background: url("/assets/images/frontend-cover.jpg") no-repeat center center;
	background-size: cover;
	text-align: center;

	iframe {
		margin-top: 40px;
		@include box-shadow(0 -2px 0 0px rgba(#000, .1), 0 1px 2px rgba(#000, .3), 0 1px 0 rgba(#000, .5), 0 20px 100px rgba(#000, .8));
		background: #333;
	}
}

article {
	max-width: 1060px;
	padding-top: 10px;

	h1 {
		font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
		font-weight: bold;
		text-align: center;
		font-size: 125px;
		margin-bottom: 0;
	}

	h3 {
		font-size: 32px;
		font-weight: 100;
		text-align: center;
		margin-top: 0;
		margin-bottom: 50px;
		padding-top: 0;
		color: #999;
		letter-spacing: -0.04em;
	}

	p {
		color: #666;
		font-size: 24px;
		line-height: 36px;
		max-width: 100%;
		font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
	}
}

.large {
	width: 100%;
	border-radius: 3px;
	margin: 20px 0;
}

@media screen and (max-width: 600px) {

 .article-header {
 		min-height: 240px;

		.video {
			width: 90%;
		}
	}
}

@media screen and (max-width: 420px) {

.article-header {
		min-height: 140px;
	}
}
