{% include head.html %}

<article>
	<div class="article-header gauges">
		<a href="" class="prev-post"> </a>
		<a href="" class="next-post">Gauges for Android</a>
		<span class="asset">
			<img src="/assets/images/logo-gauges.png" class="logo">
			<img src="/assets/images/asset-gauges.png" class="art">
		</span>
	</div>

	<div class="article-content">

	{{ content }}

<div class="article-sidebar">
	<blockquote>
		I can't believe I said this; it was so amazing that I had to add it in as a nicredible quote on the sidebar.
	</blockquote>

	<div class="sidebar-module">
		<h2>Read More</h2>
		<ul>
			<li><a href="">Gauges Android Store</a></li>
			<li><a href="">GitHub Blog Article</a></li>
		</ul>
	</div>

</div>
</article>

{% include footer.html %}
